@import "~normalize.css";

.container {
    padding-top: 2rem;
    margin: 0 auto;
    color: brown;
}

h1 {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-image: url("../img/1.webp");
    background-size: cover;
    height: 100px;
}